html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  background-color: #3f3f3f;
  font-family: "Liberation Mono", monospace;
}

#main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#main > div {
  margin: 10px;
}

#me {
  font-size: 400%;
  color: #dcdccc;
}

.links {
  font-size: 150%;
  display: flex;
  justify-content: center;
}

.links * + *::before {
  content: "•";
  color: #dcdccc;
  margin: 16px;
}

a {
  color: #f0dfaf;
}
